metadata/
recommenders/
visualizer/
TOMLG-EXPERIMENTS/trainned_minds/
DoormaxEllis/
xmlvisualizer/
goalLearning/
ellisPaperCode/
TOMLG-EXPERIMENTS/*.py~
TOMLG-EXPERIMENTS/results/*.csv~
TOMLG-EXPERIMENTS/NULL
TOMLG-EXPERIMENTS/#*#
TOMLG-EXPERIMENTS/#*.org
TOMLG-EXPERIMENTS/results/*.py~
TOMLG-EXPERIMENTS/results/*#*
TOMLG-EXPERIMENTS/*#*
*~
.recommenders/
.metadata/
RemoteSystemsTempFiles/
TOMLG/NULL_SAVE
tomlg-diagrams/
TOMLG/.settings/org.eclipse.m2e.core.prefs
TOMLG-EXPERIMENTS/*.pyc
TOMLG/.settings/org.eclipse.jdt.core.prefs
visualizer2.0/*#*